h1 {
  font-family: "Righteous", cursive;
  font-size: 4rem;
  margin: 12px 0 0 0;
}
img {
  width: 30vw;
}

form {
  margin: 20px;
  line-height: 2;
}

label {
  margin: 12px;
}
input {
  width: 15vw;
}
input[type="file"] {
  display: none;
}
button,
.custom-file-upload,
.download,
.reset {
  border: 1px solid black;
  font-size: 12px;
  font-family: "Righteous", cursive;
  color: white;
  padding: 5px;
  margin-bottom: 12px;
}

button,
.custom-file-upload {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f09819,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f09819,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.download {
  background: #ffb347; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffcc33,
    #ffb347
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffcc33, #ffb347);
}

.reset {
  margin: 12px;
  background: #e53935; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e35d5b,
    #e53935
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e35d5b, #e53935);
}
